body {
    background-color: aqua;
    font-family: cursive;
    text-align: center;
}
h1 {
    color: black;
    text-align: center;
}
p {
    font-family: cursive;
    font-size: medium;
    color: black
}

